/* Constants */
$cell-radius: 70;

/* Imports */
#app {
	@import './react/components/Board/index';
	@import './react/components/Character/index';
	@import './react/components/Cell/index';
}

body {
	display: block;
	margin: 0;
	content: ' ';
	ul, li {
		list-style: none;
	}
}
